.animale {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px blue;
    color: white;
  }
  
  .animale.green {
    background-color: green;
  }
  
  .animale.yellow {
    background-color: yellow;
  }
  
  .animale.red {
    background-color: red;
  }
